@import "../assets/styles/variables";
@import "../assets/styles/mixins";

.footer {
  background-color: $secondary-color;
  padding: 2rem;

  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2rem;

    div {
      flex: 1;
      min-width: 200px;

      h3 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
      }

      ul {
        list-style: none;

        li {
          margin-bottom: 0.5rem;
        }
      }

      a {
        font-size: 1rem;
        color: #067a46;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    gap: 60px;
    border-top: 1px solid #ccc;
    padding-top: 1rem;
    font-size: 0.875rem;

    p {
      margin-bottom: 0.5rem;
    }

    ul {
      list-style: none;
      display: flex;
      gap: 1rem;

      li {
        a {
          color: #067a46;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
